.navigation {
    display: flex;
    gap: 30px;
}

@media screen and (max-width: 860px) {
    .navigation {
        justify-content: space-around;
        width: 100%;
        font-size: 12px;
        gap: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 400px) {
    .navigation {
        font-size: 12px;
        gap: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .navigation a:last-child {
        display: none;
    }
}